@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap");

:root {
	--secondColor: hsl(220, 15%, 55%);
	--white: hsl(0, 0%, 100%);
	--gray: hsl(212, 45%, 89%);
	--darkBlue: hsl(218, 44%, 22%);
	--myFont: Outfit, Arial, sans-serif;
	--mySize: 15px;
	--titleSize: 21px;
	--bold: 700;
}

body {
	background-color: var(--gray);
	font-family: var(--myFont);
	font-size: var(--mySize);
	margin: 0;
	padding: 0;
	height: 100vh;
}

.card {
	padding: 15px;
	width: 330px;
	height: 530px;
	position: absolute;
	top: 40%;
	left: 50%;
	transform: translate(-50%, -50%);
	background-color: var(--white);
	border-radius: 20px;
	display: grid;
	grid-template: repeat(2, 100px) 50px repeat(2, 100px) 80px / repeat(3, 110px);
}

.card__img {
	grid-area: 1 / 1 / 5 / 4;
	background: url(../images/image-qr-code.png);
	background-size: cover;
	background-position: 50% 50%;
	border-radius: 10px;
}

.card__content {
	grid-area: 5 / 1 / 7 / 4;
	padding: 0 30px;
}

.card__content .title {
	font-weight: var(--bold);
	font-size: var(--titleSize);
	color: var(--darkBlue);
	line-height: 1.4;
}

.card__content .para {
	color: var(--secondColor);
	margin-bottom: 0;
}

.center {
	text-align: center;
}
